<launch>
  <include file="$(find frc_navigation)/launch/includes/machines.xml"/>

  <node name="robot_pub" pkg="frc_navigation" type="network_tables_publisher.py" output="screen"/>

  <!--<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen"/>-->
  <node pkg="map_server" type="map_server" respawn="true" name="map_server" args="$(find frc_navigation)/maps/testing/lego_lab2.yaml" output="screen"/>

  <node pkg="amcl" type="amcl" respawn="true" name="amcl" output="screen">
    <rosparam file="$(find frc_navigation)/config/localization/amcl.yaml" command="load"/>
    <remap from="scan" to="lidar/scan"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" respawn="true" name="odom_localization" clear_params="true" output="screen">
    <rosparam command="load" file="$(find frc_navigation)/config/ekf_params.yaml" />
  </node>

  <node pkg="move_base" type="move_base" respawn="true" name="move_base">
    <rosparam file="$(find frc_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find frc_navigation)/config/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find frc_navigation)/config/costmap/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find frc_navigation)/config/costmap/local_costmap_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find frc_navigation)/config/teb_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="robot_pub/cmd_vel"/>

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>

  <include file="$(find frc_navigation)/launch/includes/rplidar.xml" ns="rear_lidar">
    <param name="frame" value="rear_lidar" />
    <arg name="transform" default="0 0 0 0 0 1 0 base_link"/>
  </include>
</launch>